{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<body class="d-flex flex-column h-100">
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">About MASC</h1>
        <p class="lead">What career best fits your personality? This free career aptitude test can give you insight into your job personality.
            The results of this career test provide you with a list of professions and occupations that fit your career personality.
            Choose a career that matches your preferences and you will increase your chances of being successful! Take this career quiz and get your results right now!
            See exactly how to find a career you'll love by matching your personality, talents, and interests to real-life jobs. Our free, in-depth career tests use the powerful Holland Code and Big Five systems to accurately measure your career aptitude and show you the specific jobs that make the most of your strengths.
        </p>
        <p> Contact Us using the email id carrieranalysis@masc.com</p>
      </div>
    </main>
    
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Thankyou for choosing MASC.</span>
      </div>
    </footer>
    
    
        
      
    
    </body>
{% endblock body %}
